h1 {color: #ffffff;}
body {background-color: #203075;}
body {color: #ffffff;}

.menu{
    display: block; /* the default for span */
    width: 99%;
    height: 100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.00em;
    border: 1px solid blue;
    background-color: #354ebc;
    color: #ffffff;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li{
    float: left;
    padding-left: 10%;
}

.menu ul li a{
    width: 120px;
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 18px;
    text-align: justify;
}

.menu ul li a:hover{
    background: #03ff48;
    display:block;
}

h1 {
    font-size: 50px;
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
}

p1 {
    font-size: 25px;
    font-family: Garamond, serif;
    text-align: center;
}

p {
    font-size: 15px;
    font-family: Copperplate, Papyrus, fantasy;
    display: block; /* the default for span */
    width: 80%;
    height: 130px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.00em;
    border: 1px solid blue;
    background-color: #354ebc;
    color: #ffffff;
    text-align: center;
    bottom: 0;
}
